<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Bookstore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet" href="/css/extrastyling.css" />
</head>
</head>

<body>

    <h1>Edit book</h1>

    <div class="form-center">
        <form th:object=${book} th:action="@{/update}" action="#" method="post">
            <input type="hidden" th:field="${book.id}" />
            <p><label>Title:</label><input type="text" th:field="${book.title}" /></p>
            <p><label>Author:</label><input type="text" th:field="${book.author}" /></p>
            <p><label>Year:</label><input type="text" th:field="${book.year}" /></p>
            <p><label>Isbn:</label><input type="text" th:field="${book.isbn}" /></p>
            <p><label>Price:</label><input type="text" th:field="${book.price}" /></p>
            <label>Category:</label>
            <select th:field="*{category}" class="form-control">
                <option th:each="category: ${categories}" th:value="${category.categoryId}" th:text="${category.name}">
                </option>
            </select>
            <input type="submit" value="Submit" class="btn btn-primary" />
        </form>

    </div>
</body>

</html>